<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-1">
                    <!-- <div class="card-header card-header-danger">
                        <h4 class="card-title ">Lista de {{ listType == 1 ? "Operaciones" : "Preordenes" }}</h4>
                        <p class="card-category"> </p>
                    </div> -->
                    <div class="card-body">
                   
                        <!-- <app-search (searchChange)="searchChange($event)" [(listType)]="listType"></app-search> -->
                        <!-- <app-search-people></app-search-people> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <div class="card mt-1">
                <div class="card-body">
                    <app-operations ></app-operations>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
